* {
    
    box-sizing: border-box;
}
body {
    margin: 0;

}

login-form {
    width: 100%;
    height: 100%;

  
}
.container {
    margin-top: 2%;
   

}  


.left-side {
    width: 40%;
    height: 100%;
    
    background-image:url(assets/BG.png);
    background-size: 100% 100%;  

}
.slider {
    width : 90%;
    height: auto;
    margin: auto;
    

}


.img1  {
    position: relative;

    margin-bottom: 20% ;


}

.img2   {
    position: absolute; ;
    
    
    top: 1%;
    left: 10%;
width: 80% ;
    height: 85% ;
   

}



.right-side {
    position: absolute;
    right: 3.2%;
    top: -7%;
    width: 60%;
    height: 125%;
    background-image: url(assets/Rectangle\ 7.png);
    
    background-size: 100% 100%;
}

.right-side .container {
    margin-top: 10% !important;
    margin-left: 12% !important;


}
.right-side .container * {
    margin-bottom: 1%;

}
    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 10px;
        height: 10px ;
        border-radius: 50%;
    }
    .carousel-dark .carousel-indicators [data-bs-target] {
        background-color: #fff;
    }

    .form-flex {
        display: flex;
        justify-content: center;
        align-items: center;
       
        flex-wrap: wrap;
    }

   .form-flex * {
    width:50% ;
    

}